@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    background-color: rgb(253, 253, 253);
    color: black;
}

html {
    scroll-behavior: smooth;
  }


a {
    color: inherit;
    text-decoration: none;
}

#gitHub {
    height: auto;
    width: 60px;
}

#linkedIn {
    height: auto;
    width: 46px;
}

.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.header {
    display: flex;
    align-items: center;
    min-width: 800px;
    justify-content: center;
    flex: 1;
}

.headerSection1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.headerSection2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    font-size: 20px;
    flex: 1;
}

.headerSection3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 20px;
}

.bodyWrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    height: 400px;
    gap: 25px;
}

.bodyRight {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.middleName {
    font-size: 80px;
    color: rgb(74, 240, 190);
}

.headerButton:hover {
    color: rgb(80, 80, 80);
    cursor: pointer;
}

.profilePic {
    height: 350px;
    width: auto;
}

.projectSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.photos {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
}

.projectPhoto {
    height: 300px;
    width: auto;
    transition: 1s ease;
}
    
.projectPhoto:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.8s ease;
    cursor: pointer;
    }